	body
{
    background: #F0F8FF;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar
{
    margin-bottom: 0;

    border-radius: 0;
}

/* Set gray background color and 100% height */
.sidenav
{
    height: 100%;
    padding-top: 20px;

    background-color: #f1f1f1;
}

/* Set black background color, white text and some padding */
footer
{
    padding: 15px;
}

#content
{
    padding: 20px;
    min-height: calc(71vh - 80px);
}
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px)
{
    .sidenav
    {
        height: auto;
        padding: 15px;
    }
    .row.content
    {
        height: auto;
    }
}

.jumbotron
{
    margin-bottom: 0;
}

footer
{
    //bottom: 0;

    //position: fixed;
}
